@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #F8F8FB;
}

.MuiInputBase-root:hover,
.MuiInputBase-root:focus {
  border: 1px solid #7C5DFA
}

.MuiSvgIcon-root {
  width: 1rem;
  height: 1rem;
  color: black;
}

.MuiInputBase-input,
.Mui-selected,
.MuiButtonBase-root {
  font-size: 0.875rem;
  color: black;
  padding: 0.75rem;
  cursor: pointer;
  background-color: white;
}

.MuiSelect-select {
  display: flex;
  align-items: center;
}

.MuiMenuItem-root:hover,
.MuiMenuItem-root:focus {
  color: #7C5DFA;
  font-weight: bold;
  background: transparent;
}

.MuiTableCell-root {
  padding: 1rem 0;
  text-align: center;
}

.MuiTableCell-stickyHeader{
  background: #7C5DFA
}

.MuiTabs-indicator {
  display: none;
}
.MuiTabs-root {
  border: 1px solid #7C5DFA;
  border-bottom: none;
  border-radius: 0.4rem 0.4rem 0 0;
}

.MuiButtonBase-root {
  text-transform: lowercase;
  font-weight: bold;
}

.MuiButtonBase-root:hover {
  background: #DFE3FA;
}

.css-1ujykiq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background: #7C5DFA;
  color: white;
}


